.App-header {
  background-color: #4e579b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-size: 14px;
}

header {
  text-align: center;
}

.c__app--container {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

.c__numForm--container {
  grid-column-start: 2;
  grid-column-end: 3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  border-radius: 4px;
}

input[type='submit'] {
  border-radius: 7px;
  background-color: #3dcff9;
  color: #fff;
  font-weight: 700px;
}

label,
input[type='number'],
input[type='submit'] {
  min-width: 50px;
  padding: 7px;
  font-size: 20px;
}
